node_modules
*.local
.env
.env.local
.DS_Store
*.zip
results/screenshots/
results/videos/
results/test-artifacts/
!results/html-report/
node_modules/
results/test-artifacts/
results/videos/
results/html-report/
playwright-report/
test-results/
*.png
*.webm
*.zip
.claude